<ion-header-bar class="bar-stable"> <!-- header-bar: header Ionic -->
  <h1 class="title">Daftar Pemakai</h1>
</ion-header-bar>
<ion-content> <!-- content: bagian isi. -->
    <ion-list> <!-- list: list-nya ionic -->
        <!-- item: satu baris di list -->
        <ion-item class="item-avatar"
                  ng-repeat="satuPemakai in daftarPemakai"
                  ui-sref='LihatPemakai({id: $index})'>
            <!-- item-avatar: tampilan dengan gambar di kiri, nama diatas,
                 dan informasi di baris kedua. -->
            <!-- ui-sref akan jadikan item clickable dan mengirim ke view dengan
                nama state LihatPemakai beserta parameter id. Nilai parameter
                sesuai counter $index dari item yang ditampilkan. -->
               <img src="{{ satuPemakai.picture.thumbnail }}" />
               <h2>{{ satuPemakai.name.first }}
                   {{ satuPemakai.name.last }}</h2>
               <p>{{ satuPemakai.location.city }}
                  {{ satuPemakai.login.password }}</p>
        </ion-item>
    </ion-list>
</ion-content>
