<ion-header-bar class="bar-stable">
	<h1 class="title">Lihat: {{pemakai.name.first}} {{pemakai.name.last}}</h1>
</ion-header-bar>
<ion-content class="has-footer">
	<div class="list card">
		<div class="item item-avatar">
			<img src="{{pemakai.picture.thumbnail}} " />
			<h2>{{pemakai.name.first}} {{pemakai.name.last}}</h2>
			<p>{{pemakai.location.city}} {{pemakai.login.password}}</p>
		</div>
		<div class="item item-icon-left">
			<i class="icon ion-email"></i>
			{{pemakai.email}}
		</div>
		<div class="item item-icon-left">
			<i class="icon ion-ios-telephone"></i>
			{{pemakai.phone}}
		</div>
	</div>
</ion-content>
<ion-footer-bar align-title="center" class="bar-stable">
    <a class="button" href="#/ubah/{{id}}">
        <i class="icon ion-edit"></i> Ubah
    </a>
    <h1 class="title">&nbsp;</h1>
    <a class="button" ng-click="konfirmasi()">
            <i class="icon ion-trash-a"></i> Hapus
    </a>
</ion-footer-bar>
