<ion-header-bar class="bar-stable">
	<h1 class="title">Ubah: {{pemakai.name.first}} {{pemakai.name.last}}</h1>
</ion-header-bar>
<ion-content class="has-footer">
	<div class="list card">
        <label class="item item-input item-stacked-label">
            <span class="input-label">Nama Depan</span>
            <input type="text" placeholder="Nama depan"
                               ng-model="isian.depan">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Nama Belakang</span>
            <input type="text" placeholder="Nama belakang"
                               ng-model="isian.belakang">
        </label>
	</div>
</ion-content>
<ion-footer-bar align-title="center" class="bar-stable">
    <a class="button" href="#/daftar">
        <i class="icon ion-close-round"></i> Batal
    </a>
    <h1 class="title">&nbsp;</h1>
    <a class="button" ng-click="ubah()" href="#/daftar">
            <i class="icon ion-checkmark-round"></i> Simpan
    </a>
</ion-footer-bar>
